.dashboard-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.dashboard-container h1 {
    color: #ff6f61;
}

.dashboard-container p {
    font-size: 1.2rem;
    color: #666;
}
