.contact-container {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    max-width: 790px;
    margin: 0 auto;
    border: 1px solid #ddd;  /* Box border */
    border-radius: 10px;  /* Rounded corners */
    background-color: #f9f9f9;  /* Light background */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);  /* Subtle shadow for depth */
}

.contact-title {
    text-align: center;
    color: #003366;
}

.contact-description {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.contact-section {
    margin-top: 100px;
}

.contact-heading {
    color: #003366;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    color: #FF6600;
}

.contact-hours strong {
    display: inline-block;
    margin-bottom: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #003366;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
