/* NavBar Styling */
.navbar {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;  /* Zorg ervoor dat de NavBar altijd bovenaan blijft */
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-title {
    margin: 0;
    font-size: 24px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-item {
    margin-left: 10px;
    
}

.navbar-links {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    margin-left: 20px;
}


.logout-button {
    background: none; 
    border: none;    
    padding: 0;       
    cursor: pointer;  
}

/* Dropdown Styling */
.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-dropdown-menu a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.navbar-dropdown-menu a:hover {
    background-color: #ff6f61;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
    display: block;
}
