body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', 'sans-serif';
}

.CarandAll {
  background-image: url('Background.jpg');
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.Title {
  position: absolute;
  top: 10px;
  left: 40px;
  transition: all 0.5s ease;
  font-size: 4rem;
  
}

.Title a {
  color: white; 
  text-decoration: none;
  font-family: 'Brush Script MT', cursive;
}

.Title:hover {
  color: #ff6347;
  text-shadow: 0 0 15px #ff6347; 
  transform: scale(1.1); 
}


.logo img {
  position: relative;
  top: 2.5px;
  left: 500px;
  width: 120px;
  height: 105px;
  transition: all 0.5s ease; 
}

.logo img:hover {
  transform: scale(0.9); 
}


.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu_item {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu_links {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); 
}

.menu_links:hover {
  background-color: #ff6347; 
  box-shadow: 0 0 15px #ff6347;
  transform: scale(1.1);
}
