.account-container {
    display: flex;
    margin-left: 250px; /* Ruimte reserveren voor de Sidebar */
    min-height: 100vh; /* Zorg dat de inhoud de volledige hoogte vult */
}

.content {
    flex: 1; /* Laat de inhoud de resterende ruimte vullen */
    padding: 20px;
    background-color: #f4f4f4; /* Lichte achtergrond voor contrast */
    overflow-y: auto; /* Scrollen als de inhoud te groot wordt */
}
